<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ transactionId ? 'Editar Transação' : 'Nova Transação' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="transactionForm">
    <ion-list>
      <ion-item>
        <ion-label>Tipo de Transação</ion-label>
        <ion-select formControlName="type">
          <ion-select-option value="ganho">Ganho</ion-select-option>
          <ion-select-option value="gasto">Gasto</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Título</ion-label>
        <ion-input type="text" formControlName="title" placeholder="Título"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Descrição</ion-label>
        <ion-input type="text" formControlName="description" placeholder="Descrição"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Valor</ion-label>
        <ion-input type="number" formControlName="amount" placeholder="Valor"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Data</ion-label>
        <ion-datetime display-format="DD/MM/YYYY" formControlName="date"></ion-datetime>
      </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="addTransaction()">
      Salvar Transação
    </ion-button>
  </ion-toolbar>
</ion-footer>
