ion-title{
  position: fixed;
  color: #7972e6;
  right: 25%;
  font-size: 18px;
}
ion-content{
  --ion-background-color: rgb(250, 250, 250) ;

  ion-item {
    --highlight-height: 2px;
    --highlight-background: #7972e6;

  }



}


