
<ion-content>
   <div id="header">

    <div id="logo">
      <img src="assets/iconM.png" alt="logo">
    </div>
    <h2>MY MONEY</h2>
   </div>

   <ion-card class="ion-padding">
    <ion-card-content>
      <h1>Bem vindo ao My Money APP</h1>
      <p>Gerencie seus gastos</p>

      <ion-button expand="block" class="ion-margin-bottom" routerLink="/login">Fazer login</ion-button>
      <ion-button expand="block" fill="outline" routerLink="/register">Cadastrar</ion-button>

      <div class="line-text">`
        <span class="lines"></span>
        <span class="text">Ou conecte usando</span>
      </div>

      <div class="socials">
        <ion-button class="btn-fb">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button class="btn-go">
          <ion-icon name="logo-google"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
   </ion-card>
</ion-content>
