<ion-header>
  <ion-toolbar>
    <ion-title>MYMONEY APP</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>
    <div class="icone">
      <h1>{{userName}}</h1>
    </div>
    <div class="main-div ion-padding">
     <h1 class="ion-padding">Transações Realizadas</h1>

     <div class="lista">
      <div *ngIf="!(transaction$ | async)?.length">
        <ion-list>

          <ion-item *ngFor="let transaction of [1, 2,]">
            <ion-thumbnail slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3><ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text></h3>
              <p><ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text></p>
              <p><ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text></p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>


      <ion-item-sliding *ngFor="let transaction of transaction$ | async">
        <ion-item button [routerLink]="['/details', transaction.id]">

          <ion-label>
            {{ transaction.title }}
            <p [ngClass]="{gasto: transaction.type === 'gasto', ganho: transaction.type === 'ganho'}">{{transaction.description}}</p>
            <p>{{ transaction.createdAt | date: 'short' }}</p>
          </ion-label>

          <p class="valor" [ngClass]="{gasto: transaction.type === 'gasto', ganho: transaction.type === 'ganho'}">R${{transaction.amount}}</p>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="danger" >
            <ion-icon slot="top" (click)="deleteTransaction(transaction.id)" name="trash"></ion-icon>
            Excluir
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>




 <ion-fab-button color="primary">
  <ion-icon name="add-outline" routerLink="/details"></ion-icon>
</ion-fab-button>



