
ion-title{
  position: fixed;
  color: #7972e6;
  right: 28%;
  font-size: 14px;
}

.icone{
  ion-img {
    position: absolute;
    top: 10%;
    right: 42%;
    height: 52px;
    width: 52px;
  }

  h1{
    color: #7972e6;
    margin-top: 106px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;

  }
}

.list-container {
  height: 100%;
}



.main-div{
  h1{
    border-radius: 4;
    color: #585858;
    font-size: 0.80rem;
    text-align: start;
    margin-top: 58px;
    margin-bottom: -34px;

  }

  .eye {

    margin-bottom: 0px;
    margin-left: 215px;
    color: #585858;
    font-size: 22px;

  }
}



ion-skeleton-text {
  margin-top: px;
  height: 45;
  --border-radius: 99px;
  --background: #7972e6;
  --background-rgb: 188, 0, 255;
}

p.gasto{
  color: red;
}
p.ganho{
  color: green;
}

p.amount{
font-weight: 700;
}



ion-item-option{

  height: 58px;
  width: 58px;
  margin-top: 25px;

}

ion-button{
  position: fixed;
top: 20%;
bottom: 0;
}

ion-fab-button{
 position: relative;
 right: 10%;
 left: 75%;

}

