<ion-header>
  <ion-toolbar>
    <ion-title>My Money APP</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>
    <div class="icone">
      <ion-img src="assets/avat.png"></ion-img>
      <h1>Usuário</h1>
    </div>
    <div class="main-div ion-padding">
     <h1 class="ion-padding">Transações Realizadas</h1>
     <div class="lista">

      <ion-list *ngIf="!trans.length">
        <ion-item *ngFor="let item of [0, 1, 2]">

          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    <ion-item-sliding *ngFor="let tran of trans">
      <ion-item button [routerLink]="['/details', tran.id]">

        <ion-label>
          {{ tran.title }}
          <p [ngClass]="{gasto: tran.type === 'gasto', ganho: tran.type === 'ganho'}">{{tran.description}}</p>
          <p>{{ tran.createdAt | date: 'short' }}</p>
        </ion-label>

        <p class="valor" [ngClass]="{gasto: tran.type === 'gasto', ganho: tran.type === 'ganho'}">R${{tran.amount}}</p>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteTran(tran.id)">
          <ion-icon slot="top" name="trash"></ion-icon>
          Excluir
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </div>

 </div>

 <ion-item>
  <ion-button (click)="logout()" color="danger" expand="block">
  <ion-icon name="exit-outline"></ion-icon>Sair
</ion-button>
</ion-item>

 <ion-fab-button color="primary">
  <ion-icon name="add-outline" routerLink="/details"></ion-icon>
</ion-fab-button>
  </ion-list>

</ion-content>

