
<ion-content>

    <ion-toolbar>
      <ion-title>Esqueci minha senha</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismiss()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>


  <ion-item>
    <ion-icon name="mail"></ion-icon>
    <ion-input type="text" [(ngModel)]="email" placeholder="E-mail"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="resetPassword()">Redefinir senha</ion-button>
</ion-content>
